<h1>{{enquiry.name}} wants to get in touch</h1>

{{#if enquiry.email}}
	<p>Email: <a href="mailto:{{enquiry.email}}">{{enquiry.email}}</a></p>
{{/if}}

{{#if enquiry.phone}}
	<p class="text-larger">Phone: {{enquiry.phone}}</p>
{{/if}}

{{#if enquiry.message}}
	<p>{{enquiry.message}}</p>
{{/if}}

<p class="text-muted"><small><em>Sent {{underscoreFormat enquiry 'createdAt'}}<em></small></p>